<a href="https://colab.research.google.com/github/arturborgo/MAI/blob/main/pratical_activity_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## **Question 01: Python Data Types and Variables**

  *1.1 - Create variables of the following types*: age = 37 (integer), salary = 100.00 (float), name = "John" (string), and is_happy = True (boolean).

  *1.2 - Use the type() function to print the type of each variable.*

In [ ]:
# 1.1 - Variable declarations
age = 37            # integer
salary = 100.00     # float
name = "John"       # string
is_happy = True     # boolean

# 1.2 - Printing the type of each variable
print(f"Type of age:", type(age))
print("Type of salary:", type(salary))
print("Type of name:", type(name))
print("Type of is_happy:", type(is_happy))

Type of age: <class 'int'>
Type of salary: <class 'float'>
Type of name: <class 'str'>
Type of is_happy: <class 'bool'>

##**Question 02: Operators and Expressions**

Declare two numbers: a = 10 and b = 3.

*2.1. Arithmetic*

Print the results of:

a + b, a - b, a * b, a / b, a % b, and a ** b.

*2.2. Relational*

Print the results of the comparisons between a and b using the operators: ==, !=, >, <, >=, and <=.

*2.3. Assignment Operators*

- Create a variable c = 5.
- Use c += 2 and then c *= 3.
- Print the final value of c.

*2.4. Logical Operators*

- Create two variables c = True and d = False.
- Print the output of “and”, “or” and “not” operations between “c” and “d”

In [ ]:
# Declare the two numbers
a = 10
b = 3

print ("\033[1m 2.1 - Print the Arithmetic results\033[0m")

# Addition
print(f"a+b = {a+b}")

# Subtraction
print(f"a-b = {a-b}")

# Multiplication
print(f"a*b = {a*b}")

# Division
print(f"a/b = {a/b}")

# Modulus
print(f"a%b = {a%b}")

# Exponentiation
print(f"a**b = {a**b}")

print ("\033[1m 2.2 - Print the Relational results\033[0m")

# Equal to
print(f"a = b is {a==b}")

# Not Equal to
print(f"a ≠ b is {a!=b}")

# Greater than to
print(f"a > b is {a>b}")

# Less than to
print(f"a < b is {a<b}")

# Greater than or equal to
print(f"a ≥ b is {a>=b}")

# Less than or equal to
print(f"a ≤ b is {a<=b}")

print ("\033[1m 2.3 - Print the Assignment Operators\033[0m")
# Create a new variable
c = 5

# Use the += operator to add "2" to "number c": c = c + 2
print(f"Initial value of c: {c}")
c += 2
print(f"Value of c after c += 2: {c}")

# Use the *= to multiply the "number c" for 3
print(f"Initial value of c: {c}")
c *= 3
print(f"Value of c after c *= 3: {c}")

print ("\033[1m 2.4 - Print the Logical Operators\033[0m")

# Create two boolean variables
c = True
d = False

# Print the output of “and”, “or” and “not” operations between “c” and “d”
print(f"c and d is {c and d}")
print(f"c or d is {c or d}")
print(f"not c is {not c}")

 2.1 - Print the Arithmetic results
a+b = 13
a-b = 7
a*b = 30
a/b = 3.3333333333333335
a%b = 1
a**b = 1000
 2.2 - Print the Relational results
a = b is False
a ≠ b is True
a > b is True
a < b is False
a ≥ b is True
a ≤ b is False
 2.3 - Print the Assignment Operators
Initial value of c: 5
Value of c after c += 2: 7
Initial value of c: 7
Value of c after c *= 3: 21
 2.4 - Print the Logical Operators
c and d is False
c or d is True
not c is False

##**Question 03: Input and Output**
*3.1. Use the input() function to ask the user to enter their name.*

*3.2. Example prompt: "What is your name?"*

*3.3. Store the result in a variable called “name”.*

*3.4.Use an f-string to display a personalized greeting.*

*3.5. Example: "Hello, [name]!", where [name] is replaced by the value entered by the user.*

*3.6. Run the program multiple times and test it with different names to see the dynamic greeting.*

In [ ]:
print ("\033[1m 3.1 - Use the input() function to ask the user to enter their name.\033[0m")
user_name = input("Please enter your name: ")
print(f"Hello, {user_name}!")

print ("\033[1m 3.2 - Example prompt: What is your name? \033[0m")
user_name = input("What is your name?")
print(f"Hello, {user_name}!")

print ("\033[1m 3.3 - Store the result in a variable called 'name'. \033[0m")
# Create a string variable for name
name = input("What is your name?")
print(f"Variable: name, Value: {name}, Type: {type(name)}")

print ("\033[1m 3.4 - Use an f-string to display a personalized greeting. \033[0m")
# String Concatenation Expression
greeting = "Hello" + ", " + "World!" + " How " + "have " + "you " + "been?" # This is an expression that results in a new string
print(f"String Concatenation: {greeting}")

print ("\033[1m 3.5 - Example: ""Hello, [id]!"", where [id] is replaced by the value entered by the user. \033[0m")
id = input("Please enter your ID: ")
print(f"Hello, {id}!")

 3.1 - Use the input() function to ask the user to enter their name.
Please enter your name: Artur
Hello, Artur!
 3.2 - Example prompt: What is your name?
What is your name?Bruna
Hello, Bruna!
 3.3 - Store the result in a variable called 'name'.
What is your name?Elisa
Variable: name, Value: Elisa, Type: <class 'str'>
 3.4 - Use an f-string to display a personalized greeting.
String Concatenation: Hello, World! How have you been?
 3.5 - Example: Hello, [id]!, where [id] is replaced by the value entered by the user.
Please enter your ID: 20251mts0034
Hello, 20251mts0034!

##**Question 04: Data Structure**
*4.1. List:*
*  Create a Python list named names containing the strings "John", "Mary", and "Joseph". Print the names list to the console.
*  Create a Python list named numbers containing the integers 1, 2, 3, and 4. Print the numbers list to the console.

*4.2. Dictionaries:*
* Create a Python dictionary named person_info with keys "name" and "age", and assign appropriate values (e.g., "Alice" and 30). Print the per-son_info dictionary.
* Update the person_info dictionary by adding a new key "city" with a rele-vant value (e.g., "New York"). Print the updated person_info dictionary.

*4.3. Tuples: Create a Python tuple named coordinates with two elements representing a point in 2D space (e.g., (10, 20)). Access and print the first element of the coor-dinates tuple.*

*4.4. NumPy Arrays.*


* Creates a multidimensional array
  * 12 - - 25
  * 31 - - 40
  * 55 - - 68
* Print the array and its shape.
* Divide each element by 10.



*4.5. Dataframe.*
 * Creates a Dataframe from the dictionary bellow:
data = {'Name': ['John', 'Mary', 'Joseph', 'Alice'], 'Age': [30, 24, 45, 35],
'City': ['New York', 'London', 'Paris', 'Tokyo']}
  * Show the dataframe.
  * Access the column “name” of the dataframe.
  * Display the first two rows.
  * Check for entries with age greater than 30.